* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

html {
    /* border: .1rem solid red; */
}

body {
    /* border: .1rem solid #4000ff; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    /* border: .1rem solid #00ff48; */
    height: 4rem;
    background-color: #252323;
    color: #eee;
    padding: .5rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.logo {
    border: .1rem solid blue;
    padding: .7rem;
    width: 1rem;
    height: 1rem;
    background-color: blue;
    border-radius: 100%;
    font-weight: bold;
    margin-right: .7rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.titulo {
    flex: 1;
    /* border: .1rem solid white; */
}

.menu-hamburguer {
    /* border: .1rem solid red;  */
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #464646;
}

.menu-hamburguer i {
    font-size: 1.2rem;
    color: #ccc;
}

.menu-hamburguer:hover i {
    color: #eee;
}

.menu-hamburguer i:hover {
    color: white;
}

section {
    /* border: .1rem solid #ccd214; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem solid #e69108; */
    width: 12rem;
    padding: .5rem;
    background-color: #eee;
}

.menu-lateral {
    /* border: .1rem solid blue; */
}

li {
    /* border: .1rem solid red; */
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.opcao {
    display: flex;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #ddd;
    color: #5e5e5e;
}

.opcao:hover {
    background-color: #ccc;
    color: black;
    box-shadow: .5rem .5rem .3rem .01rem #ddd;
    border: .1rem solid #bdbdbd;
}

.opcao:hover .rotulo {
    text-align: right;
}

.opcao:hover .icone-final {
    opacity: 1;
}

.icone-inicial {
    /* border: .1rem solid green; */
    margin-right: .3em;
}

.rotulo {
    /* border: .1rem solid orangered; */
    flex: 1;
}

.icone-final {
    /* border: .1rem solid purple; */
    margin-left: .3rem;
    opacity: 0;
    transition: opacity .3s ease-in;
}

main {
    /* border: .1rem solid #e6088d; */
    flex: 1;
    padding: .5rem;
    display: flex;
    gap: 0.7rem;
}

.cartao {
    border: .1rem solid #ddd;
    box-shadow: .3rem .3rem .3rem .01rem #eee;
    width: 12rem;
    height: 20.5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.imagem {
    width: 100%;
}

.nome-produto {
    font-size: 1.5rem;
    margin-top: .5rem;
}

.descricao {
    margin-top: .5rem;
}

.preco {
    margin-top: .5rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    width: 100%;
    margin-top: .8rem;
    padding: .5rem;
    background-color: blue;
    border-radius: .5rem;
    color: #eee;
    border: none;
}

button:hover {
    color:white;
    background-color: #0202c2;
    font-weight: bold;
}

footer {
    /* border: .1rem solid rgb(9, 214, 246); */
    height: 4rem;
    background-color: #252323;
    color: #eee;
    padding: .5rem;
}

@media (max-width: 576px) {
    .titulo {
        opacity: 0;
    }

    nav {
        display: none;
    }
}